*:focus-visible {
  outline: var(--border-blue-100) solid 2px;
  outline-offset: 2px;
  box-shadow: none; /* reset @acab/reset.css */
}

body {
  background-color: var(--bg-100);
  color: var(--text-100);
  font-family: var(--sans-serif);
  font-size: var(--body-m);
  line-height: var(--body-line-height);
}
